**/*.map
**/*.min.css
**/*.min.js
assets/css/main.scss
assets/js/distillpub/template.v2.js
assets/js/search/*.js
assets/plotly/demo.html
lighthouse_results/**
_posts/2015-10-20-math.md
_sass/font-awesome/*.scss
_sass/tabler-icons/*.scss
_scripts/search.liquid.js

# New/modified files from Hugo-inspired redesign (not yet Prettier-formatted)
_includes/callout.liquid
_includes/lang_switcher.liquid
_includes/audio.liquid
_includes/latest_posts.liquid
_includes/projects.liquid
_includes/head.liquid
_includes/header.liquid
_includes/scripts.liquid
_layouts/about.liquid
_layouts/archive-year.liquid
_layouts/archive-tag.liquid
_layouts/archive-category.liquid
_pages/about.md
_pages/cv.md
_pages/publications.md
_sass/_layout.scss
_sass/_base.scss
_sass/_themes.scss
_config.yml
Gemfile
.github/workflows/deploy.yml
purgecss.config.js
assets/js/anime-setup.js
assets/js/audio-player-setup.js
assets/js/toc-sidebar.js
_i18n/en.yml
_i18n/fr.yml
_i18n/es.yml
_i18n/pt-br.yml
_i18n/de.yml
_i18n/ja.yml
_i18n/zh-cn.yml
_i18n/no.yml
